# VS Code files
.vscode

# Python files
__pycache__
.pyc

# other files
power-to-choose.xlsx
power-to-choose-offers.csv
/pyProj/power2choose/2_23_2020power-to-choose.xlsx
/pyProj/power2choose/powertochoose.output
/pyProj/power2choose/chromedriver_win32.zip
/pyProj/power2choose/chromedriver_win32/chromedriver.exe
